*,
body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 20px;
}

/*Hit CSS*/
.badge {
  display: inline-block;
  background-color: lightblue;
  border-radius: 10px;
  padding: 0.1em 0.2em 0.1em 0.2em;
  margin: 5px;
  font-size: 80%;
}

.title {
  font-weight: 700;
}

.subtitles {
  font-weight: 600;
  font-size: 15px;
}

.hits {
  padding: 15px;
}

/* Rating Stars*/
.filled {
  color: orange;
}

/* Panels */
.left-panel {
  float: left;
  width: 240px;
}
.panel {
  margin-top: 2em;
}

.right-panel {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ais-Panel-header {
  font-size: 20px;
}

p {
  font-weight: 500;
}
/* Search Box */
.ais-SearchBox {
  width: 98%;
}
.ais-SearchBox-input {
  height: 50px;
}

.ais-ClearRefinements {
  margin-top: 15px;
}

header {
  font-size: 38px;
  font-weight: 700;
}
header span {
  color: #f06a6f;
}
