*,
body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 20px;
}

/*Hit CSS*/
.badge {
  display: inline-block;
  background-color: #7fc1ea;
  border-radius: 10px;
  padding: 0.1em 0.3em 0.1em 0.3em;
  margin: 0px 2px 0px 2px;
  font-size: 80%;
  color: white;
}

.year {
  font-weight: 600;
  font-size: 13px;
  color: #6f82bd;
}

.title {
  font-weight: 700;
}

.subtitles {
  font-weight: 600;
  font-size: 15px;
}

.hits {
  padding: 15px;
}

/* Rating Stars*/
.filled {
  color: orange;
}

/* Panels */
.left-panel {
  float: left;
  width: 240px;
}
.panel {
  margin-top: 2em;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ais-Panel-header {
  font-size: 20px;
}

p {
  font-weight: 500;
}

/* Search Box */
.ais-SearchBox {
  width: 90%;
}
.ais-SearchBox-input {
  height: 50px;
}

.ais-ClearRefinements {
  margin-top: 15px;
}

.ais-HitsPerPage-select {
  font-size: 12px;
  padding: 2px 15px 2px 5px;
}
.per-page {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
}
.per-page span {
  margin: 3px 2px 0px 2px;
}

.ais-Stats {
  margin-top: 10px;
}

header {
  font-size: 38px;
  font-weight: 700;
}
header span {
  color: #f06a6f;
}

.ais-Hits-list {
  display: flex;
  justify-content: center;
}
.ais-Hits-item {
  display: flex;
  background-color: white;
  align-content: center;
  border-radius: 10px;
  width: 300px;
}
.hit {
  display: flex;
  flex-direction: column;
}
.poster {
  align-self: center;
  margin-bottom: 10px;
}

/* Media */
@media (max-width: 1024px) {
  .ais-Hits {
    display: flex;
    flex-wrap: wrap;
  }
  .ais-Hits-list {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .ais-Hits-item {
    flex-basis: 50%;
  }
}

@media (max-width: 769px) {
  header {
    text-align: center;
  }
  .left-panel {
    display: none;
  }
  .right-panel {
    margin-left: 0px;
  }
}
